body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #4CAF50;
}

.form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#quiz {
    display: none;
}

#options button {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    background-color: #1ec448;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#options button:hover {
    background-color: #0e0101;
}

.correct {
    background-color: #4CAF50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}

.selected {
    background-color: #ffcc00 !important;
}
